{{/* Local override: avoid deprecated .Site.Social/.Site.Authors in upstream module partial */}}
{{ $title := site.Title }}
{{ if and (not .IsHome) .Title }}
{{ $title = printf "%s | %s" .Title site.Title }}
{{ end }}
{{ with .Params.meta_title }}
{{ $title = . }}
{{ end }}

{{ $description := site.Params.description }}
{{ with .Params.description }}
{{ $description = . }}
{{ end }}

{{ $url := .Permalink }}
{{ $type := "website" }}
{{ if .IsPage }}{{ $type = "article" }}{{ end }}

{{ $image := "" }}
{{ with .Params.image }}
{{ $image = . | absURL }}
{{ end }}
{{ if and (eq $image "") site.Params.images (gt (len site.Params.images) 0) }}
{{ $image = (index site.Params.images 0) | absURL }}
{{ end }}

<title>{{ $title }}</title>
<meta name="description" content="{{ $description }}" />
<link rel="canonical" href="{{ $url }}" />

<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:type" content="{{ $type }}" />
<meta property="og:url" content="{{ $url }}" />
<meta property="og:site_name" content="{{ site.Title }}" />
{{ with $image }}
<meta property="og:image" content="{{ . }}" />{{ end }}

<meta name="twitter:card" content="{{ if $image }}summary_large_image{{ else }}summary{{ end }}" />
<meta name="twitter:title" content="{{ $title }}" />
<meta name="twitter:description" content="{{ $description }}" />
{{ with $image }}
<meta name="twitter:image" content="{{ . }}" />{{ end }}